main{
    display: flex;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;

    font-family: 'Roboto', sans-serif;

    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:10px;
        font-size: 20px;

        img{
            width: 250px;
        }
    }
}

.select-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button{
        padding: 10px 20px;
        border: none;
        background-color: rgba(255, 255, 255, 1);
        color: black;
        font-size: 20px;
        cursor: pointer;
        border-radius: 100px;
        transition: all .5s;
    }

    button:hover{
        background-color: rgba(255, 255, 255, 0.8);
        transform: scale(1.1);
    }
}